---
import PurchaseButton from "../components/PurchaseButton";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nourish and Nurture Ebook Bundle" description="Xylo Books">
  <section id="hero">
    <div id="title-section" class="container mx-auto max-w-[1168px] px-4 mt-20">
      <div
        class="font-extrabold text-center sm:text-6xl text-4xl mb-16 tracking-tight"
      >
        <h1>
          <span class="text-green-700">No more guessworking</span>
          <br />
          your child's learning & nutrition
        </h1>
      </div>
      <div>
        <p class="text-center items-center sm:text-2xl text-2xl">
          Go from researching everything and still being unsure to
          <br />
          being a well-resourced parent that knows how to take the
          <br />
          best care of their child
        </p>
      </div>
    </div>
    <PurchaseButton client:load />
  </section>
  <section
    id="first-look"
    class="container mx-auto max-w-[1168px] px-4 mt-16 mb-20 py-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <picture class="lg:order-last">
        <img
          src="/src/assets/img/bundle_hero.RbePQsr9_ETeKV.webp"
          alt="Ebook bundle"
          width="1187"
          height="750"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <div class="mb-8 lg:mb-0">
        <div class="text-2xl lg:text-4xl font-bold mb-8">
          <h2>
            <span class="text-orange-600">Two essentials</span>
            that
            <br />
            every parent needs
          </h2>
        </div>
        <div>
          <p class="text-justify text-lg mb-4">
            As a busy parent, your bucket's too full as it is. In between
            managing baby logistics to running a career, the curveball that hits
            hard is the realization of just
            <i>how much</i>
            you need to learn as a caregiver to a tiny human... and it changes with
            each stage.
          </p>
          <p class="text-justify text-lg">
            Right when you feel you've half figured out nutrition for baby
            development, they've moved to the toddler stage with its new
            challenges. So for parents with too little time but the biggest of
            hearts, we've created the perfect ebook bundle for you.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="statement"
    class="container mx-auto max-w-[1168px] px-4 my-20 py-12"
  >
    <div class="text-center">
      <h1 class="font-bold text-2xl lg:text-3xl">
        Get all the answers you need
        <br />
        <span class="text-green-700"
          >for supporting your little one's growth</span
        >
      </h1>
    </div>
    <div class="text-center mt-16 text-xl lg:text-2xl">
      Created and published in-house, we compiled our two parent-
      <br />
      essential ebooks in a value bundle for you
    </div>
  </section>
  <section id="books" class="container mx-auto max-w-[1168px] px-4 my-20 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="text-center mb-12 md:mb-0">
        <p class="text-sky-800 text-2xl font-bold">Book 1</p>
        <h2 class="text-sky-800 text-2xl font-bold">Tiny Tastes</h2>
        <picture class="flex justify-center my-8">
          <img
            src="/src/assets/img/tiny_tastes_book_cover.0AUUyEqv_1HGuaL.webp"
            alt="Tiny Tastes Book Cover"
            width="1600"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <p class="text-lg text-center md:w-[90%] italic">
          Find out how to support your child's development
          <strong>with the right nutrition from home</strong>
          (and so much more)
        </p>
      </div>
      <div class="text-center">
        <p class="text-sky-800 text-2xl font-bold">Book 2</p>
        <h2 class="text-sky-800 text-2xl font-bold">
          Little Learners, Big Futures
        </h2>
        <picture class="flex justify-center my-8">
          <img
            src="/src/assets/img/little_learners_book_cover.7ANHBuM-_SDi2p.webp"
            alt="Little Learners, Big Futures Book Cover"
            width="1600"
            height="2560"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <p class="text-lg text-center md:w-[90%] italic">
          Learn how to
          <strong>nurture creativity, critical thinking, and empathy</strong>
          through each of your child's stages (plus amply more)
        </p>
      </div>
    </div>
  </section>
  <PurchaseButton />
  <section
    id="features-1"
    class="container mx-auto max-w-[1168px] px-4 my-20 py-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <div class="lg:col-span-2">
        <h2 class="font-bold text-2xl mb-6">
          From stumped by picky eating...
          <br />
          <span class="text-orange-600">to meal prepping like a pro</span>
        </h2>
        <div class="text-xl italic mb-6">
          Just some of the things you'll learn in 10 chapters of Tiny Tastes:
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <symbol id="ai:mdi:check-bold"
                ><path
                  fill="currentColor"
                  d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
                ></path></symbol
              ><use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              What the essential nutrients are for each child's stage
            </p>
            <p class="text-lg">
              So you never have to guess what to nourish them with for their
              growth & optimal brain development
            </p>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              Meal ideas introducing international flavors &amp; palettes
            </p>
            <p class="text-lg">
              So they can discover healthy meals that they truly enjoy while
              getting exposure to the world's diverse cultures
            </p>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              How to meal prep as busy parents juggling it all
            </p>
            <p class="text-lg">
              So that you can keep nutritious, homemade meals at the core of
              your child's &amp; family's life
            </p>
          </div>
        </div>
      </div>
      <picture class="mt-4 md:mt-0">
        <img
          src="/src/assets/img/tiny_tastes_tablet_cover.eRcaNd8E_ZreFqY.webp"
          alt="Tiny Tastes Tablet Cover"
          data-astro-cid-uz7do4zo=""
          width="583"
          height="750"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </section>
  <section
    id="features-2"
    class="container mx-auto max-w-[1168px] px-4 my-20 py-12"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <div class="lg:col-span-2">
        <h2 class="font-bold text-2xl mb-6">
          From uncertainty over introducing tech…
          <br />
          <span class="text-orange-600"
            >to cultivating learning & creativity</span
          >
        </h2>
        <div class="text-xl italic mb-6">
          Just some of the things you'll learn in 10 chapters of Little
          Learners, Big Futures:
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <symbol id="ai:mdi:check-bold"
                ><path
                  fill="currentColor"
                  d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"
                ></path></symbol
              ><use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              How to bring out emotional intelligence in your child
            </p>
            <p class="text-lg">
              So they can develop healthy coping mechanisms and gain better
              empathize for all those around them
            </p>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              Cultivation of literary skills and a mathematical mindset
            </p>
            <p class="text-lg">
              So your child can benefit from both imagination & critical
              thinking skills, whether their being home-schooled or not
            </p>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <div class="text-green-700 text-4xl mr-4">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-astro-cid-uz7do4zo=""
              data-icon="mdi:check-bold"
            >
              <use xlink:href="#ai:mdi:check-bold"></use>
            </svg>
          </div>
          <div>
            <p class="text-xl font-semibold mb-1">
              Adaptation of your parental style for their different stages of
              development
            </p>
            <p class="text-lg">
              So you know how to teach your kid with Play before understanding
              how to navigate their use of tech
            </p>
          </div>
        </div>
      </div>
      <picture class="mt-4 md:mt-0">
        <img
          src="/src/assets/img/little_learners_tablet_cover.qaHvj2kN_1m2KvU.webp"
          alt="Tiny Tastes Tablet Cover"
          data-astro-cid-uz7do4zo=""
          width="583"
          height="750"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </section>
  <PurchaseButton />
  <section
    id="testimonials"
    class="container mx-auto max-w-[1168px] px-4 my-20 py-12"
  >
    <h2 class="text-sky-800 text-2xl lg:text-4xl text-center font-bold mb-12">
      What parents & educators have to say
    </h2>
    <div class="flex justify-center items-center">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-7 rounded-md shadow-xl">
          <div class="text-lg">
            As a new parent, I was overwhelmed with the amount of conflicting
            advice out there. This bundle was a lifesaver! 'Tiny Tastes' made
            introducing solids fun and stress-free, and 'Little Learners, Big
            Futures' has become my go-to for understanding my toddler's
            developmental needs. It's amazing how much more confident I feel in
            my parenting journey, thanks to these books.
          </div>
          <hr class="my-4" />
          <picture class="flex flex-col items-center">
            <img
              src="/src/assets/img/avatar_1.0itnEiXg_1IPIn2.webp"
              alt="Jane Cooper"
              width="48"
              height="48"
              loading="lazy"
              decoding="async"
            />
            <p class="text-lg font-semibold mt-2">Jane Cooper</p>
          </picture>
        </div>
        <div class="p-7 rounded-md shadow-xl">
          <div class="text-lg">
            As an educator with over 10 years of experience, I highly recommend
            this bundle to all parents. The depth of research and practical
            guidance in both 'Tiny Tastes' and 'Little Learners, Big Futures' is
            outstanding. They offer a perfect blend of expert knowledge and
            real-world application, making them invaluable resources for anyone
            looking to nurture a child's growth and development.
          </div>
          <hr class="my-4" />
          <picture class="flex flex-col items-center">
            <img
              src="/src/assets/img/avatar_2.8VUylqk5_1ajr2k.webp"
              alt="Guy Hawkins"
              width="48"
              height="48"
              loading="lazy"
              decoding="async"
            />
            <p class="text-lg font-semibold mt-2">Guy Hawkins</p>
          </picture>
        </div>
        <div class="p-7 rounded-md shadow-xl">
          <div class="text-lg">
            I wish I had had these books when my first child was born! The
            insights on nutrition and early childhood education in this bundle
            are incredible. 'Tiny Tastes' has transformed our meal times into an
            adventure, and 'Little Learners, Big Futures' has given me practical
            tools to support my kids' learning. What a game-changer. These books
            have truly enhanced our family life.
          </div>
          <hr class="my-4" />
          <picture class="flex flex-col items-center">
            <img
              src="/src/assets/img/avatar_3.RWiiOxvO_Z1Lph3B.webp"
              alt="Jacob Jones"
              width="48"
              height="48"
              loading="lazy"
              decoding="async"
            />
            <p class="text-lg font-semibold mt-2">Jacob Jones</p>
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="container mx-auto max-w-[1168px] px-4 my-20 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
        <div class="text-2xl lg:text-4xl font-bold mb-8">
          <h2 class="text-green-700">Xylo Books</h2>
          <p class="text-xl lg:text-2xl">An e-publishing house by a parent</p>
        </div>
        <div>
          <div class="text-justify text-lg mb-4">
            Finding myself wanting to start a small book company for a while, it
            was when I had my first 9-month-old child that I found myself taking
            the leap.
          </div>
        </div>
        <div>
          <div class="text-justify text-lg mb-4">
            It was always an idea at first: to bring an alternative to big
            publishing companies in real matters that real people would care
            for.
          </div>
        </div>
        <div>
          <div class="text-justify text-lg mb-4">
            And now, with the release of these 2 books which were at least
            partly inspired by my own questions & challenges as a parent, I hope
            for those seeking to learn will find the knowledge, guidance, and
            actionable tips they've been looking for.
          </div>
        </div>
      </div>
      <picture class="mx-auto">
        <img
          src="/src/assets/img/publish.wSV7kvhQ_Z5Peld.webp"
          alt="Publisher"
          width="500"
          height="300"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </section>
  <section id="faq" class="container mx-auto max-w-[1168px] px-4 my-20 py-12">
    <h2 class="text-orange-600 text-2xl lg:text-4xl font-bold mb-8 text-center">
      Questions asked by our customers
    </h2>
    <div class="mx-auto max-w-lg p-7 rounded-lg shadow-md mb-4">
      <div class="flex justify-between items-center">
        <p class="text-xl font-bold">
          After purchasing, how will I receive these ebooks?
        </p>
        <button id="toggleAnswer0" class="text-sky-800 focus:outline-none">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
        </button>
      </div>
      <div id="faqAnswer0" class="mt-4 text-lg">
        It'll happen in a breeze. You'll receive them immediately via email once
        you check out. By clicking on any purchase button on this page, you'll
        be taken to a secure checkout page to complete a secure Stripe payment.
        Once that's all done, you'll receive your two self-development ebooks
        via email straight away.
      </div>
    </div>
    <div class="mx-auto max-w-lg p-7 rounded-lg shadow-md mb-4">
      <div class="flex justify-between items-center">
        <p class="text-xl font-bold">
          What format will I get the ebook bundle in?
        </p>
        <button id="toggleAnswer1" class="text-sky-800 focus:outline-none">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
        </button>
      </div>
      <div id="faqAnswer1" class="mt-4 text-lg">
        Every format you'll possibly need for a digital read! For each of the
        two ebooks, you'll get an epub file (for any e-reader), mobi file (for
        good ol' Kindles), and pdf (for any digital screen). If for any reason
        one of these files doesn't work (touchwood—it's never happened to any of
        our customers before, but just in case!) simply message us at
        support@xylobooks.com with your order number, and we'll send over
        another digital copy promptly.
      </div>
    </div>
    <div class="mx-auto max-w-lg p-7 rounded-lg shadow-md mb-4">
      <div class="flex justify-between items-center">
        <p class="text-xl font-bold">Can't I get these ebooks on Amazon?</p>
        <button id="toggleAnswer2" class="text-sky-800 focus:outline-none">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
        </button>
      </div>
      <div id="faqAnswer2" class="mt-4 text-lg">
        No, not these books. Both Tiny Tastes and Little Learners, Big Futures
        are published by us (Xylo Books) and exclusively available here. There's
        no middle company getting royalties on it—just our parent team for all
        their research & compilation.
      </div>
    </div>
  </section>
  <script>
    (function () {
      const questionCount = 3;

      for (let i = 0; i < questionCount; i++) {
        if (document.getElementById(`toggleAnswer${i}`) != null) {
          const toggleButton = document.getElementById(`toggleAnswer${i}`);
          const answerDiv = document.getElementById(`faqAnswer${i}`);

          toggleButton.addEventListener("click", () => {
            answerDiv.classList.toggle("hidden");
          });
        }
      }
    })();
  </script>
  <PurchaseButton />
  <div
    class="mt-40 lg:w-[800px] xl:w-[1168px] md:w-[600px] w-[280px] mx-auto h-px bg-zinc-400 mb-12"
  >
  </div>
</Layout>
