---

---

<footer class="container mx-auto max-w-[1000px] px-4 mb-20">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
    <!-- Logo -->
    <section class="flex flex-col">
      <img src="/src/assets/img/xylobooks_logo_square.png" class="w-12 h-12" />
      <p class="text-xl mt-2">Xylo Books</p>
    </section>
    <!-- Company Info -->
    <section>
      <p class="text-lg mb-4">Company</p>
      <p class="mb-2">info@xylobooks.com</p>
      <p>Squared Sums Pte. Ltd.,</p>
      <p>160 Robinson Road,</p>
      <p>#14-04 SBF Centre, Singapore 068914</p>
    </section>
    <!-- Legal -->
    <section class="md:text-right">
      <p class="text-lg mb-4">Legal</p>
      <p>Privacy Policy</p>
    </section>
  </div>
  <!-- Copyright -->
  <section class="text-center mt-20 mb-8">
    <div class="font-normal text-gray-500 text-sm">Copyright © 2024 Xylo Books. All rights reserved.</div>
  </section>
</footer>
