---

---

<header class="p-[20px] w-100 flex justify-end">
  <!-- Light/Dark mode -->
  <div class="border-2 rounded-full p-2 inline-block">
    <div class="border-2 rounded-full w-[30px] h-[30px]"></div>
  </div>
</header>
